<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">

    <title>Inicio</title>
</head>



<body>
    <!-- Inicio header -->
    <header>
        <h1 class="h1"><a href="../index.html">Ayudamos a Otros</a>
        </h1>


        <!--Inicio nav bar en el header -->
        <nav>
            <ul class="horizontal">
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="adopciones.html">Adopciones</a></li>
                <li><a href="contacto.html">Contacto</a></li>
                <li><a href="comunidad.html">Comunidad</a></li>
            </ul>
        </nav>
        <!--Fin nav bar en el header -->
    </header>
    <!-- Fin Header -->
    <main></main>
    <!-- Inicio footer -->
    <footer>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15672.862864382767!2d-58.99558178167865!3d-34.32976741853132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bb7be81ba76321%3A0x25b7697792446dd3!2sLos%20Cardales%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1654744502152!5m2!1ses!2sar"
            width="150" height="150" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>


        <p class="caps">Nos podes encontrar en</p>

        <iframe width="300" height="300" src="../assets/images/icono-redes.png" frameborder="0"></iframe>
    </footer>

    <!-- Fin footer -->
</body>

</html>